[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/libmodbus"]
	path = extern/libmodbus
	url = https://github.com/orri93/libmodbus.git
[submodule "extern/qml-file-dialog-demo"]
	path = extern/qml-file-dialog-demo
	url = git@github.com:orri93/qml-file-dialog-demo.git
