[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/libmodbus"]
	path = extern/libmodbus
	url = https://github.com/orri93/libmodbus.git
